body {
  background-image: url("https://i.pinimg.com/736x/22/36/a2/2236a25072b7028fd48e58d67017665e.jpg");
  background-size: cover;
}
.titleNavBar {
  color: rgb(4, 104, 122);
  letter-spacing: 0.28rem;
  font-size: 100px;
  margin-top: 80px;
  margin-left: 400px;
}

#navbar {
  /*height: 82px;*/
  top: 0px;
  left: 0px;
  right: 0px;

  /*border-bottom: 1px solid rgb(25, 85, 153);
  border-image: linear-gradient(to right, #001c20, #036bc0, #38e6ec, #fcfcfc);*/
  border-image-slice: 1;
  /*position: fixed;*/
  z-index: 1;
  background-color: transparent;
}

.liElem {
  position: absolute;
  top: 15px;
  right: 200px;
}

.liElem li {
  display: inline-block;
  height: 30px;
  padding: 15px;
  padding-bottom: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.28rem;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 10px;
}

.logo {
  margin-left: 50px;
  width: 80px;
  height: auto;
}

#navbar .liElem a {
  color: rgb(4, 104, 122);
  font-size: 1.2rem;
  letter-spacing: 0.28rem;
  text-decoration: none;
}
